/* Error Page Styles */
.error-page {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.error-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
    font-size: 80px;
    margin: 0;
    color: #16423C;
}

.error-container h2 {
    font-size: 24px;
    margin: 10px 0;
}

.error-container p {
    font-size: 16px;
    color: #555;
}

.error-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #16423C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.error-btn:hover {
    background-color: #16423C;
}
