/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}

.nav input {
    width: 60%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buy-now {
    background-color: #16423C;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Balance Section */
.balance-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.balance-box h2 {
    margin: 0;
}

.balance-box input {
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-credit {
    background-color: #16423C;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.user-info {
    text-align: right;
}

.logout {
    background-color: #0000000D;
    color: #1C1C1C;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-section, .history-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-state img {
    width: 300px;
    margin-top: 10px;
}

footer {
    background-color: #16423C;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
